{% extends "home/index.html" %}
{% load static %}
{% block body %}
    <!-- Page_banner start -->
    <section class="breadcrumb_sec" style="background-image:url({%static 'home/assets/images/blog-bg.jpg'%});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title_box_page">
              <div class="page_banner_img"> <img class="img-responsive wow fadeInLeft animated img_animate"
                  src="{%static 'home/assets/images/title-bg.png'%}" alt=""> </div>
              <div class="page_banner_title">
                <h2 class="wow fadeInUp animated title_animate">Blog</h2>
                <p class="wow fadeInUp animated titlep_animate">BUILDING A COMMUNITY OF ATHLETIC WOMEN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page_banner end -->

    <!-- /blog start-->
    <div class="blog_main_sec">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-xs-12 blog_left">
            <article class="blog_detail">
              <div class="blog_main_img slass-img"> <img class="img-responsive" src="{%static 'home/assets/images/bp1.png'%}" alt=""> <a
                  class="video-link" href="https://www.youtube.com/embed/AulGwjIv3m8" data-width="550"
                  data-height="350"> <img class="blogplay" src="{%static 'home/assets/images/play.png'%}" alt=""> </a>
                <div class="dd-mm"> <span class="date">16</span><br>
                  <span class="month">Jan</span>
                </div>
              </div>
              <div class="blog_intro">
                <h3 class="blog_title"><a href="/blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.</a></h3>
                <div class="info">
                  <p> <span><i class="fa fa-clock-o" aria-hidden="true"></i>16:00 PM</span> <span> <i
                        class="fa fa-comments"></i><a href="#">Comments 0</a> </span> </p>
                </div>
              </div>
              <p class="blog_pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus congue dapibus.
                Nam nec nisi ac purus varius tempus. Sed ac ante mattis felis porta dignissim et non ligula. Maecenas at
                sem sed sapien congue mattis. Praesent vel dapibus orci. In et dolor leo. </p>
              <div class="read_social col-sm-12 col-xs-12">
                <div class="read_btm">
                  <div class="left"><a href="/blog-details"> Read more <i class="fa fa-arrow-right"
                        aria-hidden="true"></i> </a>
                  </div>
                  <div class="social-tag">
                    <div class="social"><span class="txt"> Share </span><a class="circle" href="#"><i
                          class="fa fa-facebook-f"></i></a><a class="circle" href="#"><i
                          class="fa fa-instagram"></i></a><a class="circle" href="#"><i class="fa fa-bell"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="blog_detail">
              <div class="blog_main_img slass-img"><a href="/blog-details"> <img class="img-responsive"
                    src="{%static 'home/assets/images/bp1.png'%}" alt=""></a>
                <div class="dd-mm"> <span class="date">15</span><br>
                  <span class="month">Jan</span>
                </div>
              </div>
              <div class="blog_intro">
                <h3 class="blog_title"><a href="/blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.</a></h3>
                <div class="info">
                  <p> <span><i class="fa fa-clock-o" aria-hidden="true"></i>16:00 PM</span> <span> <i
                        class="fa fa-comments"></i><a href="#">Comments 0</a> </span> </p>
                </div>
              </div>
              <p class="blog_pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus congue dapibus.
                Nam nec nisi ac purus varius tempus. Sed ac ante mattis felis porta dignissim et non ligula. Maecenas at
                sem sed sapien congue mattis. Praesent vel dapibus orci. In et dolor leo. </p>
              <div class="read_social col-sm-12 col-xs-12">
                <div class="read_btm">
                  <div class="left"><a href="/blog-details"> Read more <i class="fa fa-arrow-right"
                        aria-hidden="true"></i> </a>
                  </div>
                  <div class="social-tag">
                    <div class="social"><span class="txt"> Share </span><a class="circle" href="#"><i
                          class="fa fa-facebook-f"></i></a><a class="circle" href="#"><i
                          class="fa fa-instagram"></i></a><a class="circle" href="#"><i class="fa fa-bell"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="blog_detail">
              <div class="blog_main_img slass-img"><a href="/blog-details"><img class="img-responsive"
                    src="{%static 'home/assets/images/bp1.png'%}" alt=""></a>
                <div class="dd-mm"> <span class="date">14</span><br>
                  <span class="month">Jan</span>
                </div>
              </div>
              <div class="blog_intro">
                <h3 class="blog_title"><a href="/blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.</a></h3>
                <div class="info">
                  <p> <span><i class="fa fa-clock-o" aria-hidden="true"></i>16:00 PM</span> <span> <i
                        class="fa fa-comments"></i><a href="#">Comments 0</a> </span> </p>
                </div>
              </div>
              <p class="blog_pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus congue dapibus.
                Nam nec nisi ac purus varius tempus. Sed ac ante mattis felis porta dignissim et non ligula. Maecenas at
                sem sed sapien congue mattis. Praesent vel dapibus orci. In et dolor leo. </p>
              <div class="read_social col-sm-12 col-xs-12">
                <div class="read_btm">
                  <div class="left"><a href="/blog-details"> Read more <i class="fa fa-arrow-right"
                        aria-hidden="true"></i> </a>
                  </div>
                  <div class="social-tag">
                    <div class="social"><span class="txt"> Share </span><a class="circle" href="#"><i
                          class="fa fa-facebook-f"></i></a><a class="circle" href="#"><i
                          class="fa fa-instagram"></i></a><a class="circle" href="#"><i class="fa fa-bell"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <div class="pull-left pagination"> <a href="#" class="pre">Prev</a> <a href="#" class="next">Next</a> </div>
            <div class="pull-right pagination"> <a href="#" class="page">1</a> <a class="page active" href="#">2</a> <a
                href="#" class="page">3</a> <span>...</span> <a href="#" class="page">5</a> </div>
          </div>
          <div class="col-sm-12 col-md-4 col-xs-12 blog_right">
            <div class="search_blog">
              <form class="input-group col-md-12 col-sm-12 col-xs-12">
                <input type="text" class="form-control input-lg" placeholder="Search" />
                <span class="input-group-btn">
                  <button class="btn" type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span>
              </form>
            </div>
            <article class="Categories_blog">
              <h3 class="blog_title"> Categories </h3>
              <ul class="Categories">
                <li class="cat_list "><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i>Lorem ipsum dolor sit...</span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Tur adipiscing elites... </span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Egestas orci, vitae ulla... </span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Consectetur id onec at...</span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Lum rutrum massa quis...</span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Donec et ultricies ipsum... </span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Aliquam non est a fac... </span></a> </li>
                <li class="cat_list"><a href="#"> <span class="cat_name"><i class="fa fa-angle-right"
                        aria-hidden="true"></i> Erisque eu sed lectus...</span></a> </li>
                <li class="cat_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Ibus nunc quis ex tr...</span></a> </li>
              </ul>
            </article>
            <article class="articles_blog">
              <h3 class="blog_title"> Recent Articles </h3>
              <ul>
                <li class="art_list "><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i>Lorem ipsum dolor sit... </span></a> </li>
                <li class="art_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Tur adipiscing elites... </span></a> </li>
                <li class="art_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Egestas orci, vitae ull... </span></a> </li>
                <li class="art_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Consectetur id onec at... </span></a> </li>
                <li class="art_list"><a href="#"><span class="cat_name"> <i class="fa fa-angle-right"
                        aria-hidden="true"></i> Lum rutrum massa quis p...</span></a> </li>
              </ul>
            </article>
            <article class="Schedule_blog col-sm-12 col-xs-12 colmd-12">
              <h3 class="blog_title"> Today’s Schedule </h3>
              <div class="panel-group" id="accordion">
                <div class="steps-container">
                  <input type="radio" name="steps" id="step01" checked />
                  <label for="step01"><span>21,November,2016</span></label>
                  <div class="description">
                    <div class="panel-body">
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt1.png'%}" alt=""> Intermediate - <span
                          class="orange_text">08:00Am to 09:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt2.png'%}" alt=""> TRX - <span
                          class="orange_text">09:00Am to 10:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt3.png'%}" alt=""> Begginer - <span
                          class="orange_text">10:00Am to 11:00Am</span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt4.png'%}" alt=""> Boot Camp - <span
                          class="orange_text">11:00Am to 12:00Am</span> </div>
                    </div>
                  </div>
                </div>
                <div class="steps-container">
                  <input type="radio" name="steps" id="step02" checked />
                  <label for="step02"><span>25,Dec,2017</span></label>
                  <div class="description">
                    <div class="panel-body">
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt1.png'%}" alt=""> Intermediate - <span
                          class="orange_text">08:00Am to 09:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt2.png'%}" alt=""> TRX - <span
                          class="orange_text">09:00Am to 10:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt3.png'%}" alt=""> Begginer - <span
                          class="orange_text">10:00Am to 11:00Am</span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt4.png'%}" alt=""> Boot Camp - <span
                          class="orange_text">11:00Am to 12:00Am</span> </div>
                    </div>
                  </div>
                </div>
                <div class="steps-container ">
                  <input type="radio" name="steps" id="step03" checked />
                  <label for="step03"><span>05,Jun,2018</span></label>
                  <div class="description">
                    <div class="panel-body">
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt1.png'%}" alt=""> Intermediate - <span
                          class="orange_text">08:00Am to 09:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt2.png'%}" alt=""> TRX - <span
                          class="orange_text">09:00Am to 10:00Am </span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt3.png'%}" alt=""> Begginer - <span
                          class="orange_text">10:00Am to 11:00Am</span> </div>
                      <div class="timedetail"> <img src="{%static 'home/assets/images/tt4.png'%}" alt=""> Boot Camp - <span
                          class="orange_text">11:00Am to 12:00Am</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="tags_blog col-sm-12 col-xs-12 colmd-12">
              <h3 class="blog_title"> Popular tags </h3>
              <ul class="tag_list">
                <li class="tags"> <a href="#">Yoga Center </a></li>
                <li class="tags"> <a href="#">Tranning </a></li>
                <li class="tags"> <a href="#">Fat Loss </a></li>
                <li class="tags"> <a href="#">Weight Gain </a> </li>
                <li class="tags "> <a href="#">Fitness </a></li>
                <li class="tags"> <a href="#">Running </a></li>
                <li class="tags"> <a href="#">Gym </a></li>
                <li class="tags"> <a href="#">Cardio </a> </li>
                <li class="tags"> <a href="#">stretching </a> </li>
                <li class="tags"> <a href="#">Workout </a> </li>
                <li class="tags"> <a href="#">Bodybulding </a> </li>
                <li class="tags"> <a href="#">Bicep </a> </li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>

    <!-- /blog end-->
{%endblock%}