{% extends "home/index.html" %}
{% load static %}
{% block body %}
    <!-- Page_banner start -->
    <section class="breadcrumb_sec" style="background-image:url({% static 'home/assets/images/contact_bg.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title_box_page">
              <div class="page_banner_img"> <img class="img-responsive wow fadeInLeft animated img_animate"
                  src="{% static 'home/assets/images/title-bg.png' %}" alt=""> </div>
              <div class="page_banner_title">
                <h2 class="wow fadeInUp animated title_animate">Contact Us</h2>
                <p class="wow fadeInUp animated titlep_animate">GET IN TOUCH WITH SAM STRENGTH FITNESS – UNISEX GYM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page_banner end -->

    <!-- contact detail start (updated with real info) -->
    <div class="contact_detail">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="location_box">
              <div class="location_icon"> <img class="img-responsive hoverin" src="{% static 'home/assets/images/location.png' %}" alt="">
                <img class="img-responsive hoverout" src="{% static 'home/assets/images/location_hover.png' %}" alt=""> </div>
              <div class="location_address">
                <p>FS-5, Second Floor, above Axis Bank<br>
                  Tagore Garden, Delhi – 110027</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="location_box">
              <div class="location_icon"> <img class="img-responsive hoverin" src="{% static 'home/assets/images/phone.png' %}" alt=""> <img
                  class="img-responsive hoverout" src="{% static 'home/assets/images/phone_hover.png' %}" alt=""> </div>
              <div class="location_address">
                <p><a href="tel:+919876543210">+91 98765 43210</a><br>
                  <a href="mailto:info@samstrength.in">info@samstrength.in</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="location_box">
              <div class="location_icon"> <img class="img-responsive hoverin" src="{% static 'home/assets/images/time.png' %}" alt=""> <img
                  class="img-responsive hoverout" src="{% static 'home/assets/images/time_hover.png' %}" alt=""> </div>
              <div class="location_address">
                <p>6:00 AM to 10:00 PM (Mon–Sat)<br>
                  Sunday: 8:00 AM to 2:00 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact detail end -->

    <!-- map start – Tagore Garden, Delhi -->
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14005.789044911997!2d77.09137198715817!3d28.646323799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d03a50617858f%3A0x716da3a872331a01!2sSam%20strength%20fitness%20unisex%20gym!5e0!3m2!1sen!2sin!4v1778502604036!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- map end -->

    <!-- contact form start -->
    <div class="contact_form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="about_inner_page_con title_box">
              <h2 class="title"><span>Contact Form </span>Fill the below form</h2>
              <p>Our team will get back to you within 24 hours. For urgent inquiries, call us directly.</p>
            </div>
          </div>
        </div>
        <form id="contact-us-form">
          <div class="row">
              <div class="col-md-4">
                <input name="name" class="contact_form_detail" required type="text" placeholder="Your Name">
              </div>
              <div class="col-md-4">
                <input name="phone" class="contact_form_detail" required type="text" placeholder="Phone No.">
              </div>
              <div class="col-md-4">
                <input name="email" class="contact_form_detail" required type="text" placeholder="Email Address">
              </div>
              <div class="col-md-12">
                <textarea name="message" class="contact_form_detail1" required placeholder="Your Message (e.g., membership inquiry, personal training, etc.)"></textarea>
              </div>
              <div class="col-md-12">
                <div class="submit_btn_box">
                  <input name="submit" class="submit_btn hvr-shutter-out-horizontal" type="submit" value="Submit Now">
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
    <!-- contact form end -->
{% endblock %}