{% extends "home/index.html" %}
{% load static %}
{% block body %}
    <!-- Page_banner start -->
    <section class="breadcrumb_sec" style="background-image:url({% static 'home/assets/images/classes_bg.jpg' %});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title_box_page">
              <div class="page_banner_img"> <img class="img-responsive wow fadeInLeft animated img_animate"
                  src="{% static 'home/assets/images/title-bg.png' %}" alt=""> </div>
              <div class="page_banner_title">
                <h2 class="wow fadeInUp animated title_animate">Our Courses</h2>
                <p class="wow fadeInUp animated titlep_animate">TRANSFORM YOUR BODY WITH SAMEER RAJPUT – MR INDIA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page_banner end -->

    <!-- Courses section with filtering based on real specialties -->
    <div class="inner_classes">
      <div class="container">
        
        <div class="filter-data">
          <div class="row g-4">
            <!-- Weight Gain -->
             {%for item in data%}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 filter weight-gain">
              <div class="course_box1">
                <div class="img_course1"> <img class="img-responsive" src="{{item.image.url}}" style="height:300px" alt="{{item.name}}"><a href="/{{item.slug}}" class="course_read">Learn More</a> </div>
                <div class="course_con1">
                  <a href="/{{item.slug}}">
                  <h3>{{item.name}}</h3>
                  </a>
                  <p>{{item.meta_description|slice:"80"}}...</p>
                </div>
              </div>
            </div>
            {%endfor%}
            
          </div>
        </div>
      </div>
    </div>
    <!-- Courses section end -->

    <!-- Discount / Promo section updated -->
    <section class="discount_con">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="discount_title">
              <h1>Start Your Transformation Today! <br>Pay Now & Get <span style="color:#f7b42c;">20% OFF</span> on First Month</h1>
              <p>Limited offer for new members – training under Mr India Sameer Rajput</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="discount_btn"> <a href="/contact-us" class="discount_button">Join Now</a> </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Discount end -->
{% endblock %}