{% extends "home/index.html" %}
{% load static %}
{% block body %}
    <!-- Page_banner start -->
    <section class="breadcrumb_sec" style="background-image:url({%static 'home/assets/images/shedule_bg.jpg'%});">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title_box_page">
              <div class="page_banner_img"> <img class="img-responsive wow fadeInLeft animated img_animate"
                  src="{%static 'home/assets/images/title-bg.png'%}" alt=""> </div>
              <div class="page_banner_title">
                <h2 class="wow fadeInUp animated title_animate">Schedule</h2>
                <p class="wow fadeInUp animated titlep_animate">BUILDING A COMMUNITY OF ATHLETIC WOMEN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Page_banner end -->

    <!-- schedule start-->
    <div class="timetable_sec inner_timetable">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12 timetable_sec1">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <ul class="tabs ampmtime nav nav-tabs justify-content-end">
                  <li class="active" rel="tab1">AM</li>
                  <li rel="tab2">PM</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contnet-table">
            <div id="tab1" class="tab_content">
              <table>
                <tr>
                  <td>
                    <div class="td-date-time"> <span class="td-empty"></span> </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">8:00</span> <span class="td-duration">am</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">9:00</span> <span class="td-duration">am</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">10:00</span> <span class="td-duration">am</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">11:00</span> <span class="td-duration">am</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">11:30</span> <span class="td-duration">am</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="day">sunday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><span class="day">monday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td class="slide-bottom two"><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td><span class="day">tuesday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">WEDNESDAY</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td class="slide-bottom one"><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a> <a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt6.png'%}" alt="boxing" width="52" height="18" />
                        </div>
                        <span class="td-title">BOXING</span> <span class="td-desc">(MANAL)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">thursday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">friday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td>
                    <div class="td-services">
                      <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt7.png'%}" alt="core" width="52" height="52" />
                      </div>
                      <span class="td-title">CORE</span> <span class="td-desc">(ANNA)</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div id="tab2" class="tab_content">
              <table>
                <tr>
                  <td>
                    <div class="td-date-time"> <span class="td-empty"></span> </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">8:00</span> <span class="td-duration">pm</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">9:00</span> <span class="td-duration">pm</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">10:00</span> <span class="td-duration">pm</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">11:00</span> <span class="td-duration">pm</span>
                    </div>
                  </td>
                  <td>
                    <div class="td-date-time"> <span class="td-time">11:30</span> <span class="td-duration">pm</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><span class="day">sunday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-cpmp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">monday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td class="slide-bottom two"><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">tuesday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">WEDNESDAY</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td class="slide-bottom one"><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt5.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a> <a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt6.png'%}" alt="boxing" width="52" height="18" />
                        </div>
                        <span class="td-title">BOXING</span> <span class="td-desc">(MANAL)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">thursday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt3.png'%}" alt="spinning" width="59"
                            height="56" /></div>
                        <span class="td-title">Spinning</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="boot-camp" width="41"
                            height="55" /></div>
                        <span class="td-title">BOOT CAMP</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt2.png'%}" alt="trx" width="46" height="54" />
                        </div>
                        <span class="td-title">TRX</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                </tr>
                <tr>
                  <td><span class="day">friday</span></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt1.png'%}" alt="immediate" width="58"
                            height="60" /></div>
                        <span class="td-title">INTERMIDIATE</span> <span class="td-desc">(ANNA)</span>
                      </div>
                    </a></td>
                  <td><a href="javascript:void(0);">
                      <div class="td-services">
                        <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt4.png'%}" alt="beginners" width="54"
                            height="53" /></div>
                        <span class="td-title">BEGGINERS</span> <span class="td-desc">(SHEREEN)</span>
                      </div>
                    </a></td>
                  <td>
                    <div class="td-services">
                      <div class="td-img-wrap"><img src="{%static 'home/assets/images/tt7.png'%}" alt="core" width="52" height="52" />
                      </div>
                      <span class="td-title">CORE</span> <span class="td-desc">(ANNA)</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /shedule end-->

    <!-- /discount start-->
    <section class="discount_con">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="discount_title">
              <h1>Fitness Classes This Summer.<br>Pay Now &
                GET 35% Discount</h1>
            </div>
          </div>
          <div class="col-md-5">
            <div class="discount_btn"> <a href="#" class="discount_button">Read More</a> </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /discount end-->
{%endblock%}